body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0 auto;   /* center content */
    max-width: 800px; /* limit width */
    line-height: 1.5;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: rgba(249, 249, 250, 0.8);
    color: rgb(42, 42, 46);
}

p {
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin: 0;
}

h1 {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 0px;
}

h2 {
    font-size: 32px;
    margin-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    /*! border-bottom-color: rgba(249, 249, 250, 0.8); */
}

h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

h4 {
    font-size: 20px;
}

ul, nl {
    margin-bottom: 10px;
    margin-top: 5px;
}

#header {
    text-align: center;
}

.header-h2 {
  border-bottom-width: 0px;
}

#footer{
    margin-top: 64px;
    text-align: center;
}

#headshot-img {
    float: left;
    width: 150px;
    height: 150px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    object-fit: cover;
}

#headshot {
  width: max-content;
  height: max-content;
  float: left;
}

#header-text {
  float: left;
  width: max-content;
  padding-right: 14px;
  padding-left: 14px;
}

#header-main {
  margin: auto;
  margin-top: 24px;
  max-width: max-content;
  height: 160px;
}

#head-links {
  margin-bottom: 0px;
  margin-top: 0px;
}

#main {
  margin-top: 42px;
}

#main > h2 {
 font-weight: bolder;
 font-size: 34px;
}

#main > h3 {
 font-weight: bold;
}

#right {
    text-align: right;
}

.header-h2 {
  margin-bottom: 5px;
}

.span-jobtitle {
    font-variant: small-caps;
    font-weight: bold;
}

.span-date {
    font-style: italic;
}

/** Social Button CSS -- begin **/

.share-btn {
  display: inline-block;
  color: #ffffff;
  border: none;
  padding: 0.1em 0.6em;
  outline: none;
  text-align: center;
  font-size: 0.9em;
  margin: 0 0.2em;
}

.share-btn:focus,
.share-btn:hover {
  text-decoration: none;
  opacity: 0.8;
}

.share-btn:active {
  color: #e2e2e2;
}

.share-btn.github { background: #444444; }
.share-btn.prtfl { background: #1accf5; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.email { background: #3B5998; }

/** Social Button CSS -- enf**/

a {
    color: rgb(69, 161, 255);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
